<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid152_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{294,422}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid152_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,7}</string>
                <key>spriteSize</key>
                <string>{274,396}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{297,1},{274,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid152_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,25}</string>
                <key>spriteSize</key>
                <string>{244,390}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{807,1},{244,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid152_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,30}</string>
                <key>spriteSize</key>
                <string>{214,380}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{1053,209},{214,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid152_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,28}</string>
                <key>spriteSize</key>
                <string>{206,384}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{1053,1},{206,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid152_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,12}</string>
                <key>spriteSize</key>
                <string>{232,396}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{573,1},{232,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid152.pvr.ccz</string>
            <key>size</key>
            <string>{1438,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c93cc19b611247a0c7b2686f25a094e2:b3e284123da1c04132a7fee4e8763fc2:412b42045503c59eb53264ea54b804a6$</string>
            <key>textureFileName</key>
            <string>fishid152.pvr.ccz</string>
        </dict>
    </dict>
</plist>
