<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net_8_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{156,158}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{239,181},{156,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>net_8_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{194,196}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{219,339},{194,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>net_8_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{234,236}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>net_8_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{204,206}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,453},{204,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>net_8_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{239,1},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_8_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{194,196}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,659},{194,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>net_8_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{214,216}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,237},{214,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>net_8_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{204,204}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{209,535},{204,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_8_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{194,196}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{199,741},{194,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>net_8_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-14}</string>
                <key>spriteSize</key>
                <string>{138,110}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,855},{138,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>net_8.pvr.ccz</string>
            <key>size</key>
            <string>{416,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d98240cfd3f82351eb468375afa517b5:ae240d5652a12933ce76ac18b678c0fb:39fba2b0aae972b122dd8ecf98e4dc81$</string>
            <key>textureFileName</key>
            <string>net_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
